<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Escuela zombie</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <img src="/images/logo.jpg" alt="logo" class="" style="width: 36px;height: 36px; margin: 10px;">
        <a href="#" class="navbar-brand">Escuela zombie</a>
        <button class="navbar-toggleer" type="button" data-toggle="collapse" data-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menu">
            <div class="navbar-nav">
                <a href="/zombies" class="nav-item nav-link active">home</a>
                <a href="/cerebro" class="nav-item nav-link">cerebros</a>
                <a href="" class="nav-item nav-link">cursos para zombies</a>
            </div>
        </div>
    </nav>